.rightCell {
    text-align: right;
}

.select2-container {
    padding: 0;
    border-width: 0;
}

.select2-container.form-control {
    height: auto !important;
}

.cluster .table {
    display: table;
    margin:  0;
}