.rightCell {
    text-align: right;
}

.select2-container {
    padding: 0;
    border-width: 0;
}

.select2-container.form-control {
    height: auto !important;
}

.cluster .panel-badges {
    position: absolute;
    top: -14px;
    right: 2px;
}

.cluster .panel-badges .badge {
    border: 2px solid #FFF;
}

.cluster .table {
    display: table;
    margin:  0;
}

.dropHover {
    background: rgba(0, 255, 0, 0.1);
}